<%= form_with model: @product, url: products_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "Create Product" %>
  </div>
<% end %>
